{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        {% if article %}
            <h1>{{ article.title }}</h1>
            <p>{{ article.body }}</p>
            <a class="btn btn-primary" href="/">Return to posts list</a>
        {% else %}
            {% for article in articles %}
            <a href="/article/{{article.id}}"><h3>{{article.title}}</h3></a>
            <p>{{article.body|truncatewords:50}}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}