{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        {% for article in articles %}
            <h3>
                <a href="/article/{{article.id}}">{{ article.title }}</a>
                <span class="label label-default">{{ article.comment_set.all|length }}</span>
            </h3>
            <p>{{article.body|truncatewords:50}}</p>
        {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}